// Font
$mainFont                : 'CastoCyrillic-Regular', 'HelveticaNeueCyr-Black', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 18px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.4;

$desktopWidth            : 1920px;
$desktopTextAdaptive     : 1350px;
$smDesktopWidth          : 1080px;
$tableWidth              : 920px;
$phoneWidth              : 620px;
$smPhoneWidth            : 430px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Custom fonts start
$start-back-left         : #34285c;
$start-back-right        : #fcda31;
$start-basic-text        : #ffffff;

// Custom fonts item-test
$test-back-first         : #fc6051;
$test-back-second        : #fcda31;
$test-back-third         : #34285c;
$test-text               : #333333;
$test-number-yel         : #fcda31;
$test-number-whi         : #ffffff;

// Custom fonts result
$result                  : #2484ed;
$result-titl             : #fcda31;
$result-text             : #ffffff;